{{ partial:partials/nav }}

{{ collection:blogs paginate="true" as="posts" sort="date:desc" }}

    <section class="home-posts">

    {{ posts }}

        <!-- {{ if post_image }}
        <article class="post" style="background-image:url('{{ post_image | url }}')">
        {{ else }}
        <article class="post">
        {{ /if }} -->
        <h3 class="post__title">
            <a href="{{ permalink }}" class="{{ categories }}{{ title }}{{ /categories }}">{{ title }}</a>
        </h3>

        </article>

    {{ /posts }}

    </section>

{{ /collection:blogs }}
