<nav class="site-nav">
    <ul class="site-menu">
        <li><a href="{{ link to="/" }}">Home</a></li>
        <li><a href="{{ link to="about" }}">About</a></li>
        <li><a href="{{ link to="poetry" }}">Poetry</a></li>
        <li><a href="{{ link to="articles" }}">Articles</a></li>
        <li><a href="{{ link to="quotes" }}">Quotes</a></li>
    </ul>
</nav>

{{ collection:blogs paginate="true" as="posts" sort="date:desc" }}

    <section class="home-posts">

    {{ posts }}

        {{ if post_image }}
        <article class="post" style="background-image:url('{{ post_image | url }}')">
        {{ else }}
        <article class="post">
        {{ /if }}
        <h3 class="post__title">
            <a href="{{ permalink }}">{{ title }}</a>
        </h3>

        </article>

    {{ /posts }}

    </section>

{{ /collection:blogs }}
