<nav class="site-nav">
    <ul class="site-menu">
        <!-- <li><a href="{{ link to="/" }}">Home</a></li>
        <li><a href="{{ link to="about" }}">About</a></li>
        <li><a href="{{ link to="poetry" }}">Poetry</a></li>
        <li><a href="{{ link to="articles" }}">Articles</a></li>
        <li><a href="{{ link to="quotes" }}">Quotes</a></li> -->
        {{ nav:main_nav }}
            <li>
                <a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ /if }}>
                {{ title }}
                </a>
            </li>
        {{ /nav:main_nav }}
    </ul>
</nav>
