{{ partial:partials/nav }}

<article class="single-post">

    {{ if post_image }}
        <figure class="post-image">
            <img src="{{ post_image }}" />
        </figure>
    {{ /if }}

    <article class="post-content">

        <h2 class="post-title">{{ title }}</h2>
        <div class="post-text">
            {{ content | nl2br }}
        </div>

    </article>

    {{ collection:next as="posts" limit="1" sort="date:asc" }}
        {{ if no_results }}
        <!-- <p>You've come to the beginning</p> -->
        {{ /if }}

        {{ posts }}
        <div class="next-post">
            <a href="{{ url }}"><span class="next-post__title">{{ title }}</span> &#10095;</a>
        </div>
        {{ /posts }}

    {{ /collection:next }}


</article>
