@import "partials/reset";
@import "partials/nav";
@import "partials/home";
@import "partials/about";
@import "partials/categories";
@import "partials/single";

body {
    font-family: 'Work Sans', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}
